@{
    ViewData["Title"] = "login Page";
}

<div class="text-center">
    <h1 class="display-4">登入</h1>
    <h5 class="display-4">輸入身分證字號</h5>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
